#hamburgerButton_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navMenu_drawer .MuiDrawer-paper {
  transition: none;
  box-shadow: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#nav_menu {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.content_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100% 100% 100%;
}

.content_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  height: fit-content;
  align-self: center;
  max-height: 100%;
  transition-property: opacity, transform;
  transition-duration: 0.75s;
  gap: 1.5rem;
}
